
html, body, #root, .react-mosaic-example-app {
    margin: 0;
    height: 100%;
    width: 100%;
    background:#202b33;
    overflow: hidden;
  }
  .mosaic-window .mosaic-window-body, .mosaic-preview .mosaic-window-body{
      background:#293742;
      color: whitesmoke;
  }

  .mosaic-window .mosaic-window-toolbar, .mosaic-preview .mosaic-window-toolbar{
    background : #394b59;
    color: whitesmoke
    
  }

  .mosaic-split.-row {
    margin-left: -1px;
    width: 2px;
    cursor: ew-resize;
}

.mosaic-split.-column {
    margin-top: -1px;
    height: 2px;
    cursor: ns-resize;
}
  .mosaic-split.-row:hover{
    background:rgba(125,188,255,.6);
  }

  .mosaic-split.-column:hover{
      background: rgba(125,188,255,.6)
  }
 
  .customHeaderCloseButton{
    background:#394b59 !important;
    color:whitesmoke;
    border: thin;
    border-color: rgba(125,188,255,.6)
}



