.ag-theme-balham-dark .ag-header{
    background-color: cornflowerblue;
    color : white
}

.ag-theme-balham-dark .ag-row-odd{
    background-color: #111111;
}

.ag-theme-balham-dark .ag-row-even{
    background-color: #111111;
}
